# Directus settings
DIRECTUS_URL=https://your-directus.example.com
DIRECTUS_STATIC_TOKEN=REPLACE_WITH_STATIC_TOKEN_WITH_CREATE_PERMISSION_FOR_REGISTRATIONS

# Next.js
NEXT_PUBLIC_SITE_NAME=Glenview Ultimate
