/*
Custom CSS for public ListMonk pages
'Instellingen' > 'Uiterlijk' > 'Aangepaste CSS'
*/

@import url("https://assets.waag.org/fonts/maax/font.css");

body {
  font-family: "Maax", sans-serif;
  color: #000;
}

.header .logo {
  text-align: center;
}

.header .logo img {
  max-width: 300px;
}

input {
  font-family: inherit;
  accent-color: #175030;
}

input[type="text"], input[type="email"], select {
  box-shadow: none;
  background-color: #eee;
  border-radius: 0;
  border: none;
}

label {
  color: #000;
}

.button {
  background-color: #175030;
  border-radius: 0;
  min-width: none;
}

.button.button-outline {
  border: 1px solid #175030;
  color: #175030;
}

.button.button-outline:hover {
  background-color: #175030;
  color: #fff;
}

a {
  color: #175030;
  text-decoration-color: #175030;
}

a:hover {
  color: #000;
  text-decoration-thickness: 2px;
}

h1, h2, h3 , h4 {
  font-weight: 700;
}

.wrap {
 border: none;
 box-shadow: 0 0 .25rem 0 rgba(0,0,0,.1);
}

.lists:has(input[type='checkbox']),
.row:has(input[type='radio']) {
  padding-inline-start: 2rem;
}

.lists:has(input[type='checkbox']) li,
.row:has(input[type='radio']) {
  position: relative;
}

.lists li input[type='checkbox'] {
  position: absolute;
  inset-inline-start: -2rem;
  inset-block-start: 2px;
}

.row input[type='radio'] {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 2px;
}

